<div class="filters">
  <form action="/prestations">
    <label for="search"></label>
    <input type="text" id="search" placeholder="Votre recherche">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>

<div id="text-home">
  <h2>Dernières prestations</h2>
</div>

<div class="ctr-cards">
<% @prestations.limit(10).each do |prestation| %>
  <%= link_to prestation_path(prestation) do %>
    <div class="card-prestation">
      <%= cl_image_tag prestation.poster.key,height: 200, width: 200%>
        <div class="text-prestation">
          <h2><%=  prestation.name %></h2>
          <h3><%=  prestation.punchline %></h3>
          <h3><%=  "#{prestation.price}€"%></h3>
        </div>
        <div class="poop-scale">
          <% if prestation.average != "No rating yet !" %>
            <% prestation.average.times do  %>
              <i class="fa-solid fa-poo"></i>
            <% end %>
            <% (5 - prestation.average).times do  %>
              <i class="fa-solid fa-poop"></i>
            <% end %>
          <% else %>
            <%= prestation.average  %>
          <% end %>
        </div>
    </div>
  <% end %>
<% end  %>
</div>
