<div class="filters">
  <form action="/prestations">
    <label for="search"></label>
    <input type="text" id="search" placeholder="Votre recherche">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>

<div id="text-home">
  <h2>Dernières prestations</h2>
</div>

<div class="ctr-cards">
<% @prestations.limit(10).each do |prestation| %>
  <%= link_to prestation_path(prestation) do %>
    <div class="card-prestation">
      <%= cl_image_tag prestation.poster.key,height: 200, width: 200%>
        <div class="text-prestation">
          <h2><%=  prestation.name %></h2>
          <h3><%=  prestation.punchline %></h3>
          <h3><%=  "#{prestation.price}€"%></h3>
        </div>
        <div>
          <% final_average = 0 %>
          <% average = [] %>
          <% prestation.reservations.each do |reservation| %>
            <% reservation.reviews.each do |review| %>
              <% average << review.rating %>
            <% end %>
          <% end %>
          <% if average.size > 0 %>
            <% final_average = average.sum / average.size %>
            <div><%= final_average %> / 5</div>
          <% else %>
            <p>No rating yet !</p>
          <% end %>
        </div>
    </div>
  <% end %>
<% end  %>
</div>
