<div class="container-dash">
   <div class="container-identity-section">
          <h1>Mon profil</h1>
        <div>
          <p></p><br><%= cl_image_tag @user.avatar.key %>
        </div>

        <div>
          <br><%= @user.first_name  %>
              <%= @user.last_name  %>
          <br><%= @user.email  %>
          <br><%= @user.phone_number %><p>
        </div>

  </div>

  <div class="container-block">
    <div class="card_actions">
      <%= link_to "Suivre mes réservations", user_reservations_path(@user) %>
    </div>

    <div class="card_actions">
      <%= link_to "Voir mes dernières réservations", past_reservations_user_path(@user) %>
    </div>

    <div class="card_actions">
      <%= link_to "Créer une nouvelle expérience", new_user_prestation_path(@user) %>
    </div>

    <div class="card_actions">
      <%= link_to "Voir toutes mes expériences", user_prestations_path(@user) %>
    </div>

  </div>

</div>
