
<div class="container-dash">
  <div>
    <div class="container-identity-section">
            <h2>Mon profil</h2>
          <div>
            <p></p><%= cl_image_tag @user.avatar.key %>
          </div>

          <div>
            <br><%= @user.first_name  %>
                <%= @user.last_name  %>
            <br><%= @user.email  %>
            <br><%= @user.phone_number %><p>
          </div>

    </div>

    <div class="container-dash-comment">
      <div class="titre-my-comment">
      <h2>Mes feedbacks</h2>
      </div>
      <% @user.prestations.each do |prestation| %>
      <div class="col-sm card-my-comment">
        <div class="card-dash-prestation-name">
          <%= prestation.name %>
        </div>
        <% prestation.reservations.each do |reservation| %>
          <% reservation.reviews.each do |review| %>
            <div class="card-dash-prestation-comment">
              <% if review.user_id != prestation.user_id %> <!-- fonctionne pas je comprens pas comment fonctionne nos tables -->
                <%= review.comment %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container-block">
      <div class="card_actions">
        <%= link_to "Suivre mes réservations", user_reservations_path(@user) %>
      </div>

      <div class="card_actions">
        <%= link_to "Voir mes dernières réservations", past_reservations_user_path(@user) %>
      </div>

      <div class="card_actions">
        <%= link_to "Créer une nouvelle expérience", new_user_prestation_path(@user) %>
      </div>

      <div class="card_actions">
        <%= link_to "Voir toutes mes expériences", user_prestations_path(@user) %>
      </div>
  </div>


</div>
