<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div id="text-navbar">
      <h1>Rotten Stars</h1>
    </div>

    <%= image_tag "logo_rotten_stars", class:"center"%>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">

    <li class="nav-item dropdown">
            <%= cl_image_tag User.find(1).avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

          <li class="nav-item">
            <%= link_to "user_path" do %>
              <p class="pr-12">Home</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "user_reservations_path" do %>
              <p class="pr-32">Messages</p>
            <% end %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "users/sign_in" do %>
            <% new_user_session_path %>
            <p class="pr-32">Connexion</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
