
<% @reservations.each do |reservation| %>
  <p><%= reservation.prestation.name %></p>
  <p><%= reservation.user.first_name %></p>
  <p><%= reservation.total %></p> 
  <% if reservation.state == "pending" %>
    <%= simple_form_for [@user, reservation]  do |f| %>
      <%= f.input :state, collection: ["accepted", "rejected"] %>
      <%= f.button :submit %>
    <% end %>
  <% else %>
    <p><%= reservation.state %></p>
  <% end %>
  <br>
<% end %>
