<!DOCTYPE html>
<html>
  <head>
    <title>RottenStars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div id="content">
    <%= render 'shared/navbar' %>

      <div id="content-yield">
        <%= yield %>
      </div>


      <%= render 'shared/footer' %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>
  </body>
</html>
